@model IList<BSP.Model.Order>
@*需要完善 通过用户id 找到用户姓名 再 order中扩展类型中添加User*@
@{
    ViewBag.Title = "订单详情";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th># 编号</th>
            <th># 时间</th>
            <th># 用户id</th>
            <th># 总价</th>
            <th># 详情</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.OrderDate</td>
                <td>@item.UserId</td>
                <td>@item.TotalPrice</td>
                <td>
                    <a href="@Url.Action("OrderBookList", "Order", new { id = item.Id })" title="订单详情"><i class="glyphicon glyphicon-edit text-success"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>



